{% extends 'base.html' %}


{% block content %}

	<!--Password reset sent-->
<body class="contratop">
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Email di reimpostazione password inviata</h2>
		<hr>
		<p>Ti abbiamo inviato un'e-mail con le istruzioni per l'impostazione della password, se esiste un account con l'e-mail che hai inserito. Dovresti riceverli a breve.<br>Se non ricevi un'e-mail, assicurati di aver inserito l'indirizzo con cui ti sei registrato e controlla la cartella dello spam.</p>
  </div>
</body>
{% endblock %}