<header>
    <link href="/static/css/403.css" rel="stylesheet" />
</header>
    <div class="text-wrapper">
        <div class="title" data-content="404">
            403 - ACCESSO NEGATO
        </div>
    
        <div class="subtitle">
            Spiacenti, non sei autorizzato ad accedere a questa pagina.
        </div>
        <div class="isi">
            Un server Web può restituire un codice di stato HTTP 403 Forbidden in risposta a una richiesta da parte di un client per una pagina Web o una risorsa per indicare che il server può essere raggiunto e compreso la richiesta, ma si rifiuta di intraprendere ulteriori azioni. Le risposte del codice di stato 403 sono il risultato della configurazione del server Web per negare l'accesso, per qualche motivo, alla risorsa richiesta dal client.
             </div>
    
        <div class="buttons">
            <a class="button" href="{% url 'index' %}">Tornare</a>
        </div>
    </div>