<style>
    *, :before, :after {
        box-sizing: border-box;
      }
      
      body {
        display: flex;
        align-items: center;
        background: rgb(44, 62, 80);
        min-width: 275px;
        height: 100vh;
        margin: 0 10vw;
        overflow: hidden;
        color: #de5202;
        font-family: Roboto;
      }
      
      .wrapper {
        flex-grow: 2;
        width: 40vw;
        max-width: 900px;
        margin: 0 auto;
      }
      
      h1 {
        margin: 0;
        font-size: 6em;
        font-weight: 100;
      }
      
      p {
        width: 95%;
        font-size: 1.5em;
        line-height: 1.4;
      }
      
      .buttons {
        white-space: nowrap;
        display: inline-block;
      }
      
      a {
        display: inline-block;
        padding: .8em 1em;
        margin-right: 1em;
        margin-bottom: 1em;
        border: 3px solid #de5202;
        color: #de5202;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .2em;
        position: relative;
        overflow: hidden;
        transition: .3s;
        &:hover {
          color: #de5202;
          &:before {
            top: 0;
          }
        }
        &:before {
          content: '';
          background: #de5202;
          height: 100%;
          width: 100%;
          position: absolute;
          top: -100%;
          left: 0;
          transition: .3s;
          z-index: -1;
        }
      }
      @keyframes blackhole {
        to {
          transform: translateY(-100vh);
        }
      }
      
      @media (max-width: 600px) {
        body {margin: 0 5vw}
      }
    </style>

    <div class="wrapper">
        <h1>404-Non trovato</h1>
        <p>La pagina che stai cercando non esiste.</p>
        <div class="buttons"><a href="{% url 'index' %}">Tornare</a><br/></div>
    </div>