{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}
<!-- filter -->
<body>
<div class="container-fluid mt-3 padding7top">
	<div class="dropdown1"><a class="dropbtn1" href="/vitrina"><i class="fa fa-bars" aria-hidden="true"></i></a>
		<div class="dropdown-content1">
			{% for category in categories %}
			<a href="?category={{category.id}}"
			class="list-group-item list-group-item-action">{{category.name}}</a>
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<form class="busqueda" action="{% url 'searchvi' %}" method="get" >
			<input class="searchbar inputsea" name="q" type="text" placeholder="Trova prodotti...">
		</form>
	</div>
</div>
<div class="container-fluid mt-3">
	<div class="row">


		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3 cartawi" id="{{product.id}}">
					<a href="/product/{{ product.pk }}"><img class="card-img-top" src="/media/{{ product.pro_img }}" alt="..." /></a>
					<div class="card-body">
						<p class="card-title nombrepro">{{product.pro_name}}</p>
						{% if product.pro_sale  %}
                        <p class="precio">{{ product.pro_price_after }} € <span class="oferta">  {{ product.pro_salenumber }}% off! </span></p>
                        {% else  %}
                        <p class="precio">{{ product.pro_price }} €</p>
                        {% endif %}
					</div>

					<div class="card-footer no-gutters">

						{% if product|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form action="{% url 'vitrina' %}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-success border-right">
							</form>
							<div class="text-center col btn btn-success">{{product|cart_quantity:request.session.cart}} in Cart</div>
							<form action="{% url 'vitrina' %}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-success border-left">
							</form>
						</div>
						{% else %}
						<form action="{% url 'vitrina' %}" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input type="submit" class="float-right btn btn-success form-control"
							value="Add To Cart">
						</form>
						{% endif %}

					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</body>


{% endblock %}