{% extends 'base.html' %}
{% block content %}
{% load filtro %}
{% load static %}
<body class="bodyco">
    {% if request.user|tiene_rol_o_grupo %}
    <p class="adminpro">Vuoi modificare il marca? <a href="{% url 'brands_update' brand.pk %}"><button class="button-9" role="button">Modificare</button></a><a href="{% url 'brands_delete' brand.pk %}"><button class="button-91" role="button">Eliminare</button></a></p>

    {% endif %}
    <center>
    <p class="brap">{{ brand.bra_name }}</p>
    {% if brand.bra_img  %}
    <div class="d-flex flex-column"><img class="img-product braim" src="/media/{{ brand.bra_img }}" alt="Image not found"/>
            <ul class="braul">
                <p>Contact : {{ brand.bra_contact }}</p>
            </ul>
    </div>
    {% endif %}
    </center>   
</body>
{% endblock %}