{% extends 'base.html' %}
{% block content %}
{% load static %}
<body style="margin-top:8%;">
    <h1 class="masthead2" style="margin-left: 4%;">Vieni a trovarci in negozio</h1>
    <div style="text-align: left;">
        <ul style="font-size: 20px; text-align:left; margin-left: 4%; padding-right: 1.5em;">
            <p></p>
            <p>{{ company.co_name }}</p>
            <p>{{ company.co_city }}</p>
            <p>+39 {{ company.co_tlf }}</p>
            <p>{{ company.co_mail }}</p>
            <p class="social-icon">
                <a class="social-icon" href="https://www.facebook.com/nebenetpz/"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                <a class="social-icon" href="https://twitter.com/nebenet"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </p>
        </ul>
    <div class="siteorigin-widget-tinymce textwidget">
        <p><iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12110.69060204292!2d15.80521!3d40.6371006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x644786018014e119!2sNEBE-NET!5e0!3m2!1sit!2sit!4v1491572350666" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>
    </div>
</body>
{% endblock %}