{% extends 'base.html' %}
{% block content %}
{% load static %}
<httpProtocol>
    <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
    </customHeaders>
</httpProtocol>
<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff"/>
<body class="bodyco">
    <h1 class="masthead2 h1bodyco">Vieni a trovarci in negozio</h1>
    <div class="divbodyco">
        <ul class="ulbodyco">
            <p></p>
            <p>{{ company.co_name }}</p>
            <p>{{ company.co_city }}</p>
            <p>+39 {{ company.co_tlf }}</p>
            <p>{{ company.co_mail }}</p>
            <p>
                <a  href="https://www.facebook.com/nebenetpz/?ref=ts&fref=ts" title="Join us on Facebook"><i class="socialmedia fa fa-facebook" aria-hidden="true"></i></a>
                <a  href="https://twitter.com/nebenet" title="Join us on Twitter"><i class="socialmedia fa fa-twitter" aria-hidden="true"></i></a>
                <a  href="https://twitter.com/nebenet" title="Join us on Twitter"><i class="socialmedia fa fa-google-plus-g" aria-hidden="true"></i></a>
                <a  href="https://twitter.com/nebenet" title="Join us on Twitter"><i class="socialmedia fa fa-linkedin" aria-hidden="true"></i></a>
                <a  href="https://twitter.com/nebenet" title="Join us on Twitter"><i class="socialmedia fa fa-instagram" aria-hidden="true"></i></a>
            </p>
        </ul>
    <div class="siteorigin-widget-tinymce textwidget">
        <p><iframe defer class="cosabodyco" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12110.69060204292!2d15.80521!3d40.6371006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x644786018014e119!2sNEBE-NET!5e0!3m2!1sit!2sit!4v1491572350666" allowfullscreen></iframe></p>
    </div>
</body>
{% endblock %}