{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load cart %}
<header class="masthead2 bg-primary text-white text-center">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead2-avatar fullwidth" src="/static/assets/img/slide2.png" alt="..." />
    </div>
</header>
        
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">Siamo i tuoi assistenti informatici di fiducia. Da oltre 20 anni ci occupiamo di assistenza informatica e sistemistica a Potenza e provincia. Vendita e riparazione di pc, hardware e software, consigliando sempre settaggi e prodotti adatti alle tue esigenze.</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">Grazie alle nuove tecnologie offriamo anche assistenza a distanza. Per le aziende offriamo servizi verticali che vanno dall'assistenza sistemistica alla vendita e installazione di server dedicati.</p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://get.teamviewer.com/c4natv6">
                        ASISTENZA A DISTANZA
                    </a>
                </div>
            </div>
        </section>
        <!-- Contact Section-->
        
        <section id="contact">
            <div class="d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="fullwidth masthead2-avatar imagencortada" src="/static/assets/img/slide3.png" alt="..." />
            </div>
        </section>
{% endblock %}  