{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="masthead">
    <meta
	name="description"
	content="Nebenet product list">
</header>
    <body>
        {% if user.is_staff %}
        <p class="adminpro">Vuoi aggiungere un prodotto? <a href="{% url 'products_add' %}">
            <button class="button-9" role="button">Aggiungere</button></a></p>

        {% endif %}
        <center>
        <ul>
                <div class="container">
                    <!-- Portfolio Grid Items-->
                    <div class="row justify-content-center">
          {% for product in object_list %}
                    <!-- Portfolio Item -->
                    <div class="col-md-6 col-lg-4 mb-5">    
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{ forloop.counter0 }}">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"></i></div>
                            <p class="nombrepro">{{ product.pro_name }}</p>
                            </div>
                            <a href="{{ product.pk }}"><img class="img-fluidbrand" src="/media/{{ product.pro_img }}" alt="..." /></a>
                        </div>
                        {% if product.pro_sale  %}
                        <p class="precio">{{ product.pro_price_after }} € <span class="oferta">  {{ product.pro_salenumber }}% off! </span></p>
                        {% else  %}
                        <p class="precio">{{ product.pro_price }} €</p>
                        {% endif %}
                    </div>
            {% endfor %}
          <li class="listita"> <a href="{{ product.pk }}">{{ product.pro_name }}</a> 
        </ul>
        </center>
    </body>

{% endblock %}