{% extends 'base.html' %}
{% block content %}
{% load static %}
<body class="bodyco">
    <body class="bodyco">
        {% if user.is_staff %}
        <p class="adminpro">Vuoi modificare il prodotto? <a href="{% url 'products_update' product.pk %}"><button class="button-9" role="button">Modificare</button></a><a href="{% url 'products_delete' product.pk %}"><button class="button-91" role="button">Eliminare</button></a></p>
    
        {% endif %}
        <center>
        {% if product.pro_img  %}
        <div class="flex-column"><img class="img-product" src="/media/{{ product.pro_img }}" alt="Image not found"/></div>
        {% endif %}
        <div calss="divbodyco">
            <ul class="ulbodyco1">
                <p class="nombrepro1">{{ product.pro_name }}</p>
                <p class="precio1">{{ product.pro_price }} €</p>
                <p>Descrizione : {{ product.pro_description }}</p>
                <p>Caratteristiche : {{ product.pro_characteristics }}</p>
                <p>Tipo: {{ product.pro_type }}</p> 
                <p>Marca: {{ product.pro_brand }}</p>
            </ul>
        </div>
        </center>    
</body>
{% endblock %}
