{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load filtro %}
<body class="bodyco">
    {% if request.user|tiene_rol_o_grupo %}
    <p class="adminpro">Ticket risolto? <a href="{% url 'tickets_delete' ticket.pk %}"><button class="button-91" role="button">Eliminare</button></a></p>

    {% endif %}
    <center>
    <p class="titi">{{ ticket.ti_title }}</p>
    <p class="tiu">{{ ticket.ti_user }}, {{ ticket.ti_time }}<span> E-mail:<a href="mailto: {{ ticket.ti_mail }}"> {{ ticket.ti_mail }}</a></p>
    <div class="tipro">{{ ticket.Problema|linebreaks }}</div>
    {% if ticket.ti_img  %}
    <div class="d-flex flex-column align-items-center"><img class="img-ticket tiimg" src="/media/{{ ticket.ti_img }}" alt="Image not found"/>
    </div>
    </center> 
    {% endif %}
    <div class="comentarios">
    {% if request.user|tiene_rol_o_grupo %}
    <p class="cosabla">Chatta con {{ ticket.ti_user }}:</p>
    {% else %}
    <p class="cosabla">Chatta con l'amministrazione:</p>
    {% endif %}
    {% for coment in coments %}
        <p><span class="fechaco">{{ coment.ti_time }}</span><span class="nomuser"> {{ coment.co_user }}</span><span class="cosabla"> :  </span><span class="cotexto"> {{ coment }}</span></p>
    {% endfor %}
    {% if user.is_authenticated %}
    <form action="" method="POST" id="main_form">
           <label form="coment" class="nomuser">{{ request.user.username }} :</label>
           {{ coment_form.co_text }} {% csrf_token %} <button type="submit" class="button-623">
            ➭</button></div>
    </form>
    <p></p>
    {% else %} <h2>You need to Login to comment</h2> 
    {% endif %}
    </div> 
</body>
{% endblock %}