{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="masthead">
	<meta
	name="description"
	content="Nebenet ticket list">
</header>
<center>
<p class="adminpro"><h1>Lista dei tickets</h1> {% if user.is_staff %}<a href="{% url 'tickets-admin' %}">
    <button class="button-9" role="button">Admin view</button></a></p>{% endif %}
        <ul class="tickets">
            {% for ticket in object_list %} 
            <li style="list-style: none;"> {{ ticket.ti_time }} <a class="singleticket" href="{{ ticket.pk }}">{{ ticket.ti_title }}</a></li>
            {% endfor %}
        </ul>
        </center>
        <p></p>

{% endblock %}