{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="masthead">
</header>
<center><h1>Users</h1></center>
    <body>
        <center>
        <ul>
                <div class="container">
                    <!-- Portfolio Grid Items-->
                    <div class="row justify-content-center">
          {% for user in object_list %}
                    <!-- Portfolio Item -->
                    <div class="col-md-6 col-lg-4 mb-5">    
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{ forloop.counter0 }}">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"></div>
                                <p class="nombrepro">{{ user.username }}</p>
                            </div>
                            <a href="{{ user.pk }}"><img class="img-fluidbrand1" 
                            {% if user.image %}src="/media/{{ user.image }}"{% else %} src="/static/assets/img/noprof.webp"{% endif %}"alt="..." /></a>
                        </div>
                    </div>
            {% endfor %}
        </ul>
        </center>
    </body>

{% endblock %}